{% extends 'base.html' %}

{% block title %}SafeURL - Connexion{% endblock %}

{% block content %}
<div class="container">
    <h1>Connexion</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
    <p>Pas encore de compte? <a href="{% url 'register' %}">Inscrivez-vous ici</a>.</p>
</div>
{% endblock %}