{% extends 'base.html' %}

{% block title %}SafeURL - Admin Dashboard{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Bienvenue sur le Tableau de Bord Admin</h1>
    <p>Utilisez les liens ci-dessous pour gérer les modèles et les utilisateurs.</p>
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'list_models' %}">Lister les Modèles</a></li>
        <li class="list-group-item"><a href="{% url 'train_model' %}">Entraîner un Modèle</a></li>
        <li class="list-group-item"><a href="{% url 'monitoring' %}">Monitoring</a></li>
    </ul>
</div>
{% endblock %}