{% extends 'base.html' %}

{% block title %}Liste des Modèles{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Liste des Modèles Disponibles</h1>
    <ul class="list-group">
        {% for model in models %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ model }}
                <div>
                    <a href="{% url 'load_model' model %}" class="btn btn-sm btn-info">Charger</a>
                    <a href="{% url 'delete_model' model %}" class="btn btn-sm btn-danger">Supprimer</a>
                    <a href="{% url 'inspect_model' model %}" class="btn btn-sm btn-secondary">Inspecter</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
